<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>签约列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui/layui/css/layui.css"  media="all">
  <link rel="stylesheet" type="text/css" href="../static/css/familyDoctor.css">
</head>
<body> 
  <div class="layui-fluid">  
    <div class="layui-card">
      <div class="layui-card-header layuiadmin-card-header-auto"></div>
      <table class="demoTable layui-form">
        <tr>
          <td>
            执行状态：
          </td>
          <td class="layui-inline">
            <select id="state" name="city" class="layui-input" lay-verify="" lay-search>
              <option value="">请选择</option>
              <option value="010">全部</option>
              <option value="001">家庭</option>
              <option value="002">门诊</option>
              <option value="003">其他</option>
            </select>
          </td>
          <td>签约时间：</td>
          <td class="layui-inline">
            <input class="layui-input" name="id" id="sTimeReload" autocomplete="off">
            <i class="layui-icon layui-icon-date sDate"></i>
          </td>
          <td>家庭医生团队：</td>
          <td class="layui-inline">
            <input class="layui-input" name="id" id="teamReload" autocomplete="on">
          </td>
          <td>家庭责任人：</td>
          <td class="layui-inline">
            <input class="layui-input" name="id" id="chargeReload" autocomplete="on">
          </td>
          <td>
            <button class="layui-btn" data-type="reload">
              <i class="layui-icon layui-icon-search"></i>
            </button>
          </td>
        </tr>
      </table>
      <table class="layui-card-body layui-hide" id="LAY_table_user" lay-filter="user"></table> 
    </div>
  </div>             
          
<script src="../static/layui/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="openFile"> <!-- lay-filter="openDetail" lay-event="openThis" -->
  <button type="button" data-method="notice" class="layui-btn layui-btn-sm" data-id="{{d.id}}" >查看协议</button>
</script>
<script>
var demoData = [{
      "id": "10001"
      ,"startDate": "2019-10-01"
      ,"endDate": "2019-10-31"
      ,"familyTeam": "北京恩福团队"
      ,"familyCharge": "北京恩福"
      ,"state": "家庭"
      ,"operation": ''
    }, {
      "id": "10002"
      ,"startDate": "2019-10-01"
      ,"endDate": "2019-10-31"
      ,"familyTeam": "北京恩福团队1"
      ,"familyCharge": "北京恩福1"
      ,"state": "门诊"
      ,"operation": ''
    }, {
      "id": "10003"
      ,"startDate": "2019-10-01"
      ,"endDate": "2019-10-31"
      ,"familyTeam": "北京恩福团队2"
      ,"familyCharge": "北京恩福2"
      ,"state": "门诊"
      ,"operation": ''
    }, {
      "id": "10004"
      ,"startDate": "2019-10-21"
      ,"endDate": "2019-11-31"
      ,"familyTeam": "北京恩福团队3"
      ,"familyCharge": "北京恩福3"
      ,"state": "其他"
      ,"operation": ''
    }];

layui.use(['table', 'laydate'], function(){
  var table = layui.table;
  var laydate = layui.laydate;

  laydate.render({
    elem: '#sTimeReload'
  })
  //方法级渲染
  table.render({
    elem: '#LAY_table_user'
    ,data: demoData
    ,cols: [[
      {field:'id', title: '序号'}
      ,{field:'startDate', title: '签约时间'}
      ,{field:'endDate', title: '到期时间'}
      ,{field:'familyTeam', title: '家庭医生团队'}
      ,{field:'familyCharge', title: '家庭责任人'}
      ,{field:'state', title: '执行状态'}
      ,{field:'operation', title: '操作', templet: '#openFile'}
    ]]
    ,id: 'testReload'
    ,page: true
    ,height: 500
  });
  
  var $ = layui.$, active = {
    reload: function(){
      var state = $('#state option:selected');
      var sTimeReload = $('#sTimeReload');
      var teamReload = $('#teamReload');
      var chargeReload = $('#chargeReload');
      var searchOptions = {
            state: state.val(),
            sDate: sTimeReload.val(),
            team: teamReload.val(),
            charge: chargeReload.val()
          }
      
      //执行重载
      table.reload('testReload', {
        // 本地数据筛查
        data: demoData.filter(function(data, index){ //layui.table.cache["testReload"]
          if (searchOptions.sDate !== '') {
            return data.startDate === searchOptions.sDate;
          }
          return data
        })
        ,page: {
          curr: 1 //重新从第 1 页开始
        }
        // 发送请求筛查
        ,where: {
          key: {
            state: searchOptions.state,
            sDate: searchOptions.sDate,
            team: searchOptions.team,
            charge: searchOptions.charge
          }
        }
      }, 'data');
    }
    ,notice: function(){
      //示范一个公告层
      layer.open({
        type: 1
        ,title: false //不显示标题栏
        ,closeBtn: false
        ,area: ['100%', '100%']
        ,shade: 0.8
        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
        ,btn: ['打印', '取消']
        ,btnAlign: 'c'
        ,moveType: 1 //拖拽模式，0或者1
        ,content: '<div class="test" style="padding: 50px; line-height: 22px; background-color: #fff; color: #000; font-weight: 500;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>'
        ,success: function(layero){
          var btn = layero.find('.layui-layer-btn');
          btn.find('.layui-layer-btn0').attr({
            onClick: 'window.print()',
            class: 'hideWithPrint'
          });
          btn.find('.layui-layer-btn1').attr({
            class: 'hideWithPrint'
          });
        }
      })
    }  
  };

  table.on('tool(user)', function (obj) {
    console.log(obj)
    var layEvent = obj.event;
  })
  
  $('.layui-table .layui-btn').on('click', function(){
    var othis = $(this), method = othis.data('method');
    active[method] ? active[method].call(this, othis) : '';
    var type = othis.data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>

</body>
</html>