<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>建档率</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/layui/layui/css/layui.css}" media="all">
  <link rel="stylesheet" type="text/css" href="../../static/css/familyDoctor.css">
  <link 
</head>
<body>
  <div class="layui-fluid">  
    <div class="layui-card">
      <div class="layui-card-header layuiadmin-card-header-auto"></div>
      <div class="demoTable layui-form">
        执行状态：
        <div class="layui-inline">
          <select id="state" name="city" class="layui-input" lay-verify="" lay-search>
            <option value="">请选择</option>
            <option value="010">全部</option>
            <option value="001">家庭</option>
            <option value="002">门诊</option>
            <option value="003">其他</option>
          </select>
        </div>
        签约时间：
        <div class="layui-inline">
          <input class="layui-input" name="id" id="sTimeReload" autocomplete="off">
          <i class="layui-icon layui-icon-date sDate"></i>
        </div>
        家庭医生团队：
        <div class="layui-inline">
          <input class="layui-input" name="id" id="teamReload" autocomplete="on">
        </div>
        家庭责任人：
        <div class="layui-inline">
          <input class="layui-input" name="id" id="chargeReload" autocomplete="on">
        </div>
        <button class="layui-btn" data-type="reload">
          <i class="layui-icon layui-icon-search"></i>
        </button>
      </div>
      <table class="layui-card-body layui-hide" id="LAY_table_user" lay-filter="user"></table> 
    </div>
  </div>             
          
<script src="../../static/layui/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="openFile">
  <button type="button" class="layui-btn layui-btn-sm" data-id="{{d.id}}" lay-filter="openDetail" lay-event="openThis">查看协议</button>
</script>
<script>
var demoData = [{
      "id": "10001"
      ,"startDate": "2019-10-01"
      ,"endDate": "2019-10-31"
      ,"familyTeam": "北京恩福团队"
      ,"familyCharge": "北京恩福"
      ,"state": "家庭"
      ,"operation": ''
    }, {
      "id": "10002"
      ,"startDate": "2019-10-01"
      ,"endDate": "2019-10-31"
      ,"familyTeam": "北京恩福团队1"
      ,"familyCharge": "北京恩福1"
      ,"state": "门诊"
      ,"operation": ''
    }, {
      "id": "10003"
      ,"startDate": "2019-10-01"
      ,"endDate": "2019-10-31"
      ,"familyTeam": "北京恩福团队2"
      ,"familyCharge": "北京恩福2"
      ,"state": "门诊"
      ,"operation": ''
    }, {
      "id": "10004"
      ,"startDate": "2019-10-21"
      ,"endDate": "2019-11-31"
      ,"familyTeam": "北京恩福团队3"
      ,"familyCharge": "北京恩福3"
      ,"state": "其他"
      ,"operation": ''
    }];

layui.use(['table', 'laydate'], function(){
  var table = layui.table;
  var laydate = layui.laydate;
  
  laydate.render({
    elem: '#sTimeReload'
  })
  //方法级渲染
  table.render({
    elem: '#LAY_table_user'
    ,data: demoData
    ,cols: /* [[
      {field:'id', title: '序号'}
      ,{field:'startDate', title: '签约时间'}
      ,{field:'endDate', title: '到期时间'}
      ,{field:'familyTeam', title: '家庭医生团队'}
      ,{field:'familyCharge', title: '家庭责任人'}
      ,{field:'state', title: '执行状态'}
      ,{field:'operation', title: '操作', templet: '#openFile'}
    ]] */
    ,id: 'testReload'
    ,page: true
    ,height: 500
  });
  
  var $ = layui.$, active = {
    reload: function(){
      var state = $('#state option:selected');
      var sTimeReload = $('#sTimeReload');
      var teamReload = $('#teamReload');
      var chargeReload = $('#chargeReload');
      var searchOptions = {
            state: state.val(),
            sDate: sTimeReload.val(),
            team: teamReload.val(),
            charge: chargeReload.val()
          }
      
      //执行重载
      table.reload('testReload', {
        // 本地数据筛查
        data: demoData.filter(function(data, index){ //layui.table.cache["testReload"]
          if (searchOptions.sDate !== '') {
            return data.startDate === searchOptions.sDate;
          }
          return data
        })
        ,page: {
          curr: 1 //重新从第 1 页开始
        }
        // 发送请求筛查
        ,where: {
          key: {
            state: searchOptions.state,
            sDate: searchOptions.sDate,
            team: searchOptions.team,
            charge: searchOptions.charge
          }
        }
      }, 'data');
    }
  };

  table.on('tool(user)', function (obj) {
    var layEvent = obj.event;
    console.log(layEvent)
  })
  
  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>

</body>
</html>
